{% extends 'dashboard/chat/nav.html' %}

{% block subcontent %}

    <div align="left" style="padding: 0% 1%;">
        <h4> Welcome, {{user.username}} </h4>
    </div>

 <div class="flexbox-container" style="display:flex;">
        <div class="chat" style="flex:1;">
            <nav>
                <ul style="list-style-type:none;">
                    <h5>{{room.name}}</h5>
                    {% for message in messages %}
                        <li>
                            <div class="container">
                                <p>{{message.text}}</p>
                                <span class="time-right">11:00</span>
                            </div>
                        </li>
                    {% endfor %}
                    <form action="{% url 'chat' room.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="message">
                        <button class="btn btn-primary" type="submit" name='send'> Send </button>
                    </form>
                </ul>
            </nav>
        </div>
    </div>

{% comment %}     
    <div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
    </div>

    <div class="container darker">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
    </div>

    <div class="container">
    <img src="/w3images/bandmember.jpg" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
    </div>

    <div class="container darker">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right">
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
    </div> {% endcomment %}

{% endblock  %}